@model KartverketGruppe1.Models.BrukerProfilViewModel

@{
    ViewData["Title"] = "Rediger Profil";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
    .save-button {
        background-color: #8EBF94;
        color: white;
        border: none;
        padding: 10px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .save-button:hover {
        background-color: #00973d;
    }

    body {
        background-color: #f0f0f0;
        
    }
</style>

<div style="display: flex; align-items: center; margin-bottom: 20px;">
    <button onclick="window.location.href='@Url.Action("BrukerProfil", "Home")'" class="back-button" style="margin-left: -30px; margin-right: 20px; padding: 5px; background-color: transparent; border: none; cursor: pointer; display: flex; align-items: center;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#3b6e3b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
            <line x1="500" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
    </button>

    <div style="position: relative; margin-right: 20px; margin-left: 75px;">
        <img src="~/images/KartikusMinProfil.png" alt="Profilbilde" style="border-radius: 50%; width: 70px; height: 70px; object-fit: cover; border: 1px solid #3b6e3b;" />
        <label for="profileImageUpload" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 70px; height: 35px; background-color: rgba(0, 0, 0, 0.3); border-bottom-left-radius: 35px; border-bottom-right-radius: 35px; display: flex; align-items: center; justify-content: center; cursor: pointer;">
            <span style="color: white; font-size: 12px;">ENDRE</span>
        </label>
        <input type="file" id="profileImageUpload" name="profileImageUpload" style="display: none;" />
    </div>
    <h3 style="color: #3b6e3b;">Min Profil</h3>
</div>

<div class="profile-container" style="max-width: 1000px; margin: auto; padding: 30px; background-color: #D8E3F2; border-radius: 10px; position: relative; z-index: 1;">
    <form asp-action="RedigerBrukerProfil" method="post">
        <div style="margin-top: 20px; margin-left: 30px; display: flex;"> 
            <div style="flex 1;">
                <p style="margin-bottom: 40px;"><strong>Navn</strong></p>
                <p style="margin-bottom: 45px;"><strong>E-postadresse</strong></p>
                <p style="margin-bottom: 45px;"><strong>Telefon</strong></p>
                <p style="margin-bottom: 45px;"><strong>Fødselsdato</strong></p>
                <p style="margin-bottom: 45px;"><strong>Nytt passord</strong></p>
                <p style="margin-bottom: 80px;"><strong>Gjenta passord</strong></p>

                <a href="javascript:void(0);" onclick="confirmDelete()" class="btn btn-danger" style="margin-bottom: 40px;">Slett min bruker</a>
            </div>


            <div style="border-left: 2px solid #3b6e3b; margin-top: -10px; padding: 30px 60px 40px 30px; margin-left: 60px; flex: 1">
                <div style="margin-bottom: 20px; margin-top: -30px;">
                    <input type="text" id="Name" name="Name" value="@Model.Name" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" />
                </div>
                <div style="margin-bottom: 20px;">
                    <input type="email" id="Email" name="Email" value="@Model.Email" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" />
                </div>
                <div style="margin-bottom: 20px;">
                    <input type="text" id="Phone" name="Phone" value="@Model.Phone" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" />
                </div>
                <div style="margin-bottom: 20px;">
                    <input type="date" id="BirthDate" name="BirthDate" value="@Model.BirthDate.ToString("yyyy-MM-dd")" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" />
                </div>
                <div style="margin-bottom: 20px;">
                    <input type="password" id="Password" name="Password" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" />
                </div>
                <div style="margin-bottom: 20px;">
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" />
                </div>
            </div>
        </div>
        <div style="text-align: center; margin-top: -5%; margin-left: 73%;">
            <button type="submit" class="save-button">Lagre endringer</button>
        </div>
    </form>
</div>

    <script>
        function confirmDelete() {
            if (confirm("Er du sikker på at du vil slette brukeren din?")) {
                window.location.href = '@Url.Action("SlettBruker", "Account")';
            }
        }
    </script>
