@model List<KartverketGruppe1.Models.StedsnavnViewModel>


<h2>Stedsnavn Results</h2>

@if (Model != null && Model.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>Skrivemåte</th>
                <th>Objekttype</th>
                <th>Språk</th>
                <th>Status</th>
                <th>Nord</th>
                <th>Øst</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Skrivemåte</td>
                    <td>@item.Navneobjekttype</td>
                    <td>@item.Språk</td>
                    <td>@item.Navnestatus</td>
                    <td>@item.Nord</td>
                    <td>@item.Øst</td>
                </tr>
                
            }
        </tbody>
    </table>
}
else
{
    <p>No results found.</p>
}

@if (Model != null && Model.Any())
{
    var førsteKoordinat = Model.First();
    <p>Nord: @førsteKoordinat.Nord</p>
    <p>Øst: @førsteKoordinat.Øst</p>
}

